{# Not necessarily an article, but just has padded main content. #}

{% extends 'layouts/base.njk' %}

{% block content %}
<div class="w-full max-w-7xl pb-12 px-6 lg:px-12">
  {{ content | safe }}
</div>
{% endblock %}
