<!DOCTYPE html>
<html class="h-full" lang="en-US">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <title>SIMC • {{ title }}</title>

    {# Animate on scroll #}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/images/simc_logo_circle.svg" rel="icon" type="image/svg"/>

    {# Meta tags #}
    {% include 'partials/og-meta.njk' %}

    {% block head %}
    {# Extra head content #}
    {% endblock %}
  </head>

  <body class="flex flex-col items-center relative min-h-full dark:text-white dark:bg-neutral-900">
    {% include 'partials/navbar.njk' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.njk' %}

    {# Why do I have to put this at the bottom :( #}
    {# Animate on scroll #}
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        once: true
      });
    </script>
  </body>
</html>
