<!DOCTYPE html>
<html class="h-full" lang="en-US">
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta charset="utf-8"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <title>SIMC • {{ title }}</title>

    <link href={{"/assets/css/tailwind.css" | url}} rel="stylesheet"/>
    <link href={{"/assets/images/simc-logo-round.png" | url}} rel="icon" type="image/png"/>
  </head>

  <body class="flex flex-col items-center relative h-full min-h-full dark:text-white dark:bg-neutral-900">
    {% include 'partials/navbar.njk' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.njk' %}
  </body>
</html>
