---
layout: standalone
title: Events
blurb: A collection of the events we host.
---

{% macro eventCard(title, image, blurb, url) %}
  <a href="{{ url }}" class="relative min-h-[20rem] group">
    <div class="absolute bg-black w-full h-full overflow-clip rounded-xl">
      {# Alt should probably be made more helpful #}
      <img src="{{ image }}" alt="{{ title }}" class="object-cover w-full h-full opacity-30 blur-lg group-hover:blur-none duration-500">
    </div>
    <div class="flex flex-col items-center justify-center absolute w-full h-full px-12 text-white transition-all">
      <h3 class="z-10 text-center">{{ title }}</h3>
      <span class="text-neutral-200">{{ blurb }}</span>
    </div>
  </a>
{% endmacro %}

<h1>{{ title }}</h1>

<p class="mb-2">{{ blurb }}</p>

{# Might want to extract these at some point #}
<div class="flex flex-col items-center h-full">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 w-full h-full">
    {{ eventCard(
        'SIMC 10',
        'https://images.unsplash.com/photo-1606326608802-164e734c2fd9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80',
        'Excellent mock AMC 10-style contest.',
        '/events/SIMC10'
      ) }}
    {{ eventCard(
        'SIMC 8',
        'https://drive.google.com/uc?export=view&id=14m_hlwPQC4r_bmWmLCpfoyhe5SwhkwOY',
        'Like the SIMC 10, but for 8th graders and below.',
        '/events/SIMC8'
      ) }}
    {{ eventCard(
        'Panels & Lectures',
        'https://images.unsplash.com/photo-1587825140708-dfaf72ae4b04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80',
        'As part of our mission to increase math literacy, we hold panels and lectures about a wide array of math topics and questions.',
        '/events/lectures'
      ) }}
    {{ eventCard(
        'Summer Reading Challenge',
        'https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80',
        'An event designed to help expand math education to a broader scope (beyond just math competitions!) while also helping combat summer learning loss.',
        '/press-releases/2022-09-01-2022-summer-reading-challenge-winners'
      ) }}
    {{ eventCard(
        'TST',
        'https://images.unsplash.com/photo-1434030216411-0b793f4b4173?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80',
        'Team selection for the HMMT/BMT/SMT contests.',
        '/events/tst'
      ) }}
    {{ eventCard(
        'Mock Mathcounts',
        'https://www.nsbe.org/getmedia/9e9c41d5-a24a-4067-909b-5ccf83c28975/MathCounts_logo.png',
        'SIMC holds an annual Mock MATHCOUNTS every year, before the official competitions, for elementary and middle school students interested in math.',
        '/events/mock-mathcounts'
      ) }}
    {{ eventCard(
        'SIME',
        'https://media.discordapp.net/attachments/1034695824757768223/1198508468131348570/MAA_logo_PMS286.png?ex=65bf28fe&is=65acb3fe&hm=b100da452229121b724b4099cc6d6462943d6d3dee1a62850fbeacfc04eab101&=&format=webp&quality=lossless',
        'A high quality mock AIME',
        '/events/SIME'
      ) }}
  </div>
</div>
