<script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.1/p5.min.js"></script>
<script defer="defer" src="https://cdn.jsdelivr.net/npm/@timohausmann/quadtree-js/quadtree.min.js"></script>
<script src="/assets/quadtree-art/js/sketch.js" type="module"></script>

{# Main container #}
<div class="h-screen opacity-0" id="sketch-container"></div>
