---
title: Home
---

{% extends 'layouts/base.njk' %}

{% block content %}
  {% from 'partials/quadtree-art/quadtree-art.njk' import banner %}
  {{ banner('Seattle Infinity Math Circle') }}
{% endblock %}
