---
layout: base
title: Student Leadership Group
---

{# Person card component #}
{% macro personCard(name, title, bio, photoURL) %}
<div class="flex flex-col items-start max-w-xs">

  {# Photo #}
  <div class="self-center w-32 h-32">
    <img
      src="{{ photoURL }}"
      alt="Photo of {{ name }}"
      class="object-cover rounded-full aspect-square shadow-lg hover:scale-110 transition-all duration-500"
    >
  </div>

  {# Content #}
  <div class="-z-10 w-full h-full p-5 -mt-3 rounded-md bg-slate-100">
    <h3 class="text-center">{{ name }}</h3>
    <p class="pb-4 text-center text-gray-500">{{ title }}</p>
    <p class="text-sm">{{ bio }}</p>
  </div>

</div>
{% endmacro %}


{# Main content #}
<main class="w-full max-w-7xl pt-8 pb-12 md:pt-24 px-6 lg:px-12">  
  <h1 class="mb-8">Student Leadership Group</h1>

  <div class="grid md:grid-cols-3 grid-cols-1 gap-4 gap-y-12">
    {% for person in slg %}
      {{ personCard(person.name, person.title, person.bio, person.photoURL) }}
    {% endfor %}
  </div>
</main>
