---
layout: standalone
title: Student Leadership Group
---

{% block head %}
  <script src="/assets/js/slg.js" defer></script>
{% endblock %}

{# Person card component #}
{% macro personCard(name, title, bio, photoURL, index) %}
  <div class="flex flex-col items-start" data-aos="fade-up" data-aos-delay="{{ (index % 3) * 50 }}">
    {# Photo #}
    <div class="self-center rounded-full bg-neutral-200 animate-pulse">
      <img
        src="{{ photoURL }}"
        alt="Photo of {{ name }}"
        onload="this.parentElement.classList.remove('animate-pulse')"
        class="object-cover rounded-full w-32 h-32 aspect-square shadow-lg bg-white dark:bg-black hover:scale-110 transition-all duration-500"
      >
    </div>

    {# Content #}
    <div id="container-{{ index }}" class="-z-10 w-full h-full p-5 pt-10 -mt-7 rounded-md bg-slate-100 dark:bg-zinc-800 flip-container" onmouseenter="updatePersonHeight({{ index }}, true)" onmouseleave="updatePersonHeight({{ index }}, false)">
      <div class="flip-inner">
        <div class="flip-front">
          <h3 class="text-center">{{ name }}</h3>
          <p id="front-{{ index }}" class="leading-tight text-center text-neutral-600 dark:text-neutral-400">{{ title | safe }}</p>
        </div>
        <div class="flip-back">
          <p id="back-{{ index }}" class="text-sm">{{ bio }}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

{# Main content #}
{% block main %}
  <h1>{{ title }}</h1>
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-x-6 gap-y-12">
    {% for person in slg %}
      {{ personCard(person.name, person.title, person.bio, person.photoURL, loop.index0) }}
    {% endfor %}
  </div>
{% endblock %}
