---
layout: main
pagination:
  data: circleArticles.articlesArray
  size: 1
  alias: article
permalink: "circle/{{ article.issue | slugify }}/{{ article.title | slugify }}/index.html"
eleventyComputed:
  title: "{{ article.title | safe }}"
  blurb: "{{ article.blurb | safe }}"
---

{% import './circle-macros.njk' as circleMacros with context %}

{% macro allArticles() %}
  <p><a href="/circle">&larr; All articles</a></p>
{% endmacro %}

<div class="flex flex-col items-center w-full">
  <div class="max-w-3xl pt-16">
    {{ allArticles() }}

    <h1 class="mt-2 mb-2 text-4xl sm:text-6xl">{{ article.title | safe }}</h1>
    <div class="mt-2 mb-4 text-neutral-500 dark:text-neutral-200">      
      <p class="mb-2">{{ article.issueFullName }}</p>
      {{ circleMacros.byline(article.author) }}
    </div>
    <div class="font-serif text-lg lining-nums">{{ article.body | safe }}</div>

    <div class="border-t border-b my-4 py-4 px-4">
      <span class="mb-2 block font-bold">Author</span>
      {{ circleMacros.byline(article.author) }}
    </div>

  {{ allArticles() }}
  </div>
</div>

<style>
  .katex {
    font-size: 1.1em;
  }
</style>
