---
title: Hello
layout: main
---

<div class="flex flex-wrap gap-4">
  {% for article in circleArticles.articleContents %}
    <div class="card">
      <div class="font-serif text-lg">{{ article.body | latex | safe }}</div>
    </div>
  {% endfor %}
</div>

<style>
  .katex {
    font-size: 1.1em;
  }
</style>
