---
layout: main
pagination:
  data: circleArticles.articlesArray
  size: 1
  alias: article
permalink: "circle/{{ article.issue | slugify }}/{{ article.title | slugify }}/index.html"
eleventyComputed:
  title: "{{ article.title | safe }}"
  blurb: "{{ article.blurb | safe }}"
---

{% macro allArticles() %}
  <p><a href="/circle">&larr; All articles</a></p>
{% endmacro %}

{% macro byline() %}
  <div class="flex items-center justify-start gap-2">    
    {% for member in slg %}
      {% if member.name == article.author %}
        <img class="w-8 h-8 object-cover m-0 rounded-full" src="{{ member.photoURL }}" />
      {% endif %}
    {% endfor %}
    <span class="text-neutral-500">{{ article.author }}</span>
  </div>
{% endmacro %}

<div class="flex flex-col items-center w-full">
  <div class="max-w-3xl pt-16">
    {{ allArticles() }}

    <h1 class="mt-2 mb-2 text-4xl sm:text-6xl">{{ article.title | safe }}</h1>
    <div class="my-4">{{ byline() }}</div>
    <div class="font-serif text-lg">{{ article.body | latex | safe }}</div>

    <div class="border-t border-b my-4 py-4 px-4">
      <span class="mb-2 block font-bold">Author</span>
      {{ byline() }}
    </div>

  {{ allArticles() }}
  </div>
</div>

<style>
  .katex {
    font-size: 1.1em;
  }
</style>
