{% macro byline(author) %}
<div class="flex items-center justify-start gap-2">
  {% for member in slg %}
    {% if member.name == author %}
      <div class="relative w-8 h-8 rounded-full overflow-hidden">
        <div class="absolute w-full h-full bg-neutral-200 -z-10 animate-pulse"></div>
        <img class="w-full h-full object-cover m-0" src="{{ member.photoURL }}" />
      </div>
    {% endif %}
  {% endfor %}
  <span class="text-neutral-500 dark:text-neutral-200">{{ author }}</span>
</div>
{% endmacro %}
