---
layout: standalone
title: The Circle
blurb: SIMC's very own math-literacy magazine for K-12 students.
---

{% md %}
# {{ title | safe }}

*The Circle* is our very own math-literacy magazine for K-12 students.

<h3 class="mb-2">Issues</h3>
<ol>
{% for article in circleArticles.articlesArray %}
  <li>
    <a href="{{ article.issue | slugify }}/{{ article.title | slugify }}">{{ article.title }}</a> &ndash; {{ article.author }}
  </li>
{% endfor %}
</ol>

Our mission is to advocate for the world of math, to provide a window into its fascinating history, its distinctive culture, and its many untold stories.

- [Volume 1](https://drive.google.com/file/d/1YkCJ6wzRLFq8B0Sp0_v_3-Id7yRrj8wc/view?usp=drive_link) (Summer 2022)
- [Volume 2](https://drive.google.com/file/d/1L7U52X1tzT849efnGCjm0pR-BpMnvdne/view?usp=drive_link) (Summer 2022)
- [Volume 3](https://drive.google.com/file/d/1y0095yYVkNiyb44Z9VVNHDjsqrFnTJ0j/view?usp=drive_link) (Winter 2022)
- [Volume 4](https://drive.google.com/file/d/1z1MxHLPKsUF4G6DMCYj0IuFIyw82nVPS/view?usp=drive_link) (Spring 2023)
- [Volume 5](https://drive.google.com/file/d/1-toXmZCHnAISc7-9JcdpCIFnapTE-hrM/view?usp=drive_link) (Spring 2023)
{% endmd %}
