---
layout: standalone
title: The Circle
blurb: SIMC's very own math-literacy magazine for K-12 students.
---

{% import './circle-macros.njk' as circleMacros with context %}

<h1>{{ title | safe }}</h1>
<i>The Circle</i> is our very own math-literacy magazine for K-12 students. Our mission is to advocate for the world of math, to provide a window into its fascinating history, its distinctive culture, and its many untold stories.

{% macro articleCard(article) %}
<a
  class="md:border-none border-y !p-4 overflow-clip hover:bg-neutral-100 dark:hover:bg-neutral-700 transition-colors"
  href="/circle/{{ article.issue | slugify }}/{{ article.title | slugify }}"
>
  <div>
    {% if article.coverImage %}
      <img class="w-full h-60 mb-4 md:mb-2 dark:bg-white object-cover" src="{{ article.coverImage }}" />
    {% endif %}
    <div class="flex flex-col gap-2 -mb-2">
      <h4 class="text-black dark:text-white font-bold">{{ article.title }}</h4>
      {{ circleMacros.byline(article.author) | safe }}
      {% md %}{{ article.blurb | safe }}{% endmd %}
    </div>
  </div>
</a>
{% endmacro %}

<div class="flex flex-col w-full my-4 gap-4 font-serif">
{% for issue in circleArticles.articlesByIssue %}
  <div>
    <h2 class="my-4 mb-4">{{ issue.issueFullName }}</h2>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 md:gap-y-6 md:gap-x-4">
      {% for article in issue.articles %}
        {{ articleCard(article) }}
      {% endfor %}
    </div>
  </div>
{% endfor %}
</div>


{% md %}
Before we published *The Circle* via website, we used to publish via PDF. Here are the old issues:

- [Volume 1](https://drive.google.com/file/d/1YkCJ6wzRLFq8B0Sp0_v_3-Id7yRrj8wc/view?usp=drive_link) (Summer 2022)
- [Volume 2](https://drive.google.com/file/d/1L7U52X1tzT849efnGCjm0pR-BpMnvdne/view?usp=drive_link) (Summer 2022)
- [Volume 3](https://drive.google.com/file/d/1y0095yYVkNiyb44Z9VVNHDjsqrFnTJ0j/view?usp=drive_link) (Winter 2022)
- [Volume 4](https://drive.google.com/file/d/1z1MxHLPKsUF4G6DMCYj0IuFIyw82nVPS/view?usp=drive_link) (Spring 2023)
- [Volume 5](https://drive.google.com/file/d/1-toXmZCHnAISc7-9JcdpCIFnapTE-hrM/view?usp=drive_link) (Spring 2023)
{% endmd %}
