{% macro articlePreview(title, date, blurb, image, link, index) %}
<article class="{{ 'sm:col-span-2 sm:row-span-2 h-full' if index == 0 }} col-span-1 row-span-1 mb-6" data-aos="fade-up" data-aos-delay="{{ (index % 3) * 50 }}"">
  <a href="{{ link }}" class="flex flex-col items-start w-full h-full">
    {# Photo #}
    <div class="self-center w-full {{ 'max-h-[20rem] shrink' if index != 0 else 'h-full grow' }}">
      <img src="{{ image }}" alt="Cover photo" class="object-cover aspect-video w-full {{ 'h-full' if index == 0 }}">
    </div>

    {# Content #}
    <div class="w-full pt-5">
      <h3>{{ title }}</h3>
      <p class="pb-4 text-gray-500 dark:text-gray-400">{{ date.toLocaleString() }}</p>
      <p>{{ blurb }}</p>
    </div>
  </a>
</article>
{% endmacro %}
