{% macro articlePreview(title, date, blurb, image, link, index) %}
  <article
    class="{{ 'md:col-span-2 md:row-span-1' if index == 0 }} col-span-1 row-span-1 w-full h-full md:mb-6"
    data-aos="fade-up"
    data-aos-delay="{{ ((index + 1) % 3) * 50 }}"
  >
    <a href="{{ link }}" class="flex flex-col items-start w-full h-full hover:bg-neutral-100 dark:hover:bg-neutral-600 transition-colors">
      {# Photo #}
      <div class="self-center w-full">
        <img src="{{ image }}" alt="Cover photo" class="object-cover w-full h-[15rem] }}">
      </div>

      {# Content #}
      <div class="w-full px-6 py-4">
        <h3 class="mb-1">{{ title | safe }}</h3>
        <p class="mb-1 text-gray-500 dark:text-gray-400">{{ date | dateFormat }}</p>
        <p>{{ blurb }}</p>
      </div>
    </a>
  </article>
{% endmacro %}
