{% macro fancyLink(title, blurb, url, css, backgroundColor) %}
<a href="{{ url }}" class="relative group {{ css }} overflow-hidden" target="_blank">
  <div class="absolute w-full h-full -z-10 group-hover:brightness-90 transition-all {{ backgroundColor }}">    
  </div>
  
  <div class="flex items-center justify-left h-full p-6 lg:px-12" data-aos="fade-left">
    <div class="shrink group-hover:scale-[105%] transition-all">
      <h3 class="flex align-bottom gap-3">
        <span>{{ title }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <desc>External link symbol</desc>
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
        </svg>
      </h3>
      <span>{{ blurb }}</span>
    </div>
  </div>
</a>
{% endmacro %}
