{% block head %}
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js" defer></script>
  <script src="/assets/js/footer.js" defer></script>
{% endblock %}

<footer class="flex flex-col items-center self-end mt-auto w-full bg-neutral-900 dark:bg-black text-white">
  <div class="flex flex-col sm:flex-row gap-5 md:gap-20 w-full max-w-6xl px-6 pt-6 pb-20">
    {# Branding #}
    <div class="flex flex-col items-left justify-center gap-3 mb-6 sm:mb-0">
      <div class="flex items-center text-white">
        <img class="rounded-lg mr-3" src="/assets/images/logo/simc_logo_square.svg" width="30px">
        <span>SIMC</span>
      </div>
      <span class="text-neutral-400 text-sm">
        Site designed by
        <div class="absolute">
          <a href="{{ meta.webmaster.link }}" target="_blank" class="relative underline z-30 hover:text-lime-300 transition-all" id="webmaster">
            <span>{{ meta.webmaster.name }}</span>
          </a>
          <canvas class="absolute bottom-0 left-[-100px]" height="200"></canvas>
        </div>
      </span>
    </div>

    <div>
      {# Definitely should be componentized #}
      <h5 class="mb-2">Links and stuff</h5>
      <ul class="flex flex-col gap-y-1 list-disc list-inside">
        <li>
          <a href="/slg">SLG</a>
        </li>
        <li>
          <a href="/press-releases">Press releases</a>
        </li>
        <li>
          <a href="/contact">Mailing list</a>
        </li>
      </ul>
    </div>

    <div class="mb-2">
      <h5>Social media cards</h5>
      <span>Coming soon</span>
    </div>
  </div>
</footer>
