{% from 'partials/article-preview.njk' import articlePreview %}

<div class="grid grid-cols-1 md:grid-cols-3 gap-0 sm:gap-8">
  {% set articles = collections.press_release | sort(true, true, 'date') %}

  {% for article in articles %}
  {{ articlePreview(
      article.data.title,
      article.data.date,
      article.data.blurb,
      article.data.image,
      article.url,
      loop.index0
    ) }}
  {% endfor %}
</div>
